## backups
*~
\#*\#
.\#*
*.fig.bak

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.dvi
*.xdv
*.errorlist
*.shortlog

### Exclude compiled files. 
*.pdf
.pdf

### Add images in Extra and Pix subdirs
!**/Pix/*.pdf
!**/Pix/*.fig
**/Pix/*.fig.bak
!**/Pix/*.ps
!**/Pix/*.eps
!**/Pix/*.jpg
!**/Pix/*.jpeg
!**/Pix/*.png
!**/Extra/*.pdf
!**/Extra/*.fig
**/Extra/*.fig.bak
!**/Extra/*.ps
!**/Extra/*.eps
!**/Extra/*.jpg
!**/Extra/*.jpeg
!**/Extra/*.png


### Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.rubbercache
rubber.cache

### beamer
*.nav
*.pre
*.snm
*.vrb

